.home {
  padding-top: 0;
  font-family: 'monoscape';
}

.hero-section {
  height: 100vh;
  background-image: url('/public/Dashboard.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center; 
}

.hero-content {
  max-width: 800px; 
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: rgb(55, 14, 14);
  animation: zoomIn 1.5s ease-out;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(205, 228, 203, 0.7); 
  padding: 1rem 2rem; 
  border-radius: 50px; 
  display: inline-block; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hero-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(255, 204, 0, 0.9); /* Warna lebih terang */
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  animation: fadeInUp 1s ease;
}

.search-box {
  display: flex;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto; /* Tengah horizontal */
  animation: fadeIn 1.5s ease;
  margin-top: 5rem; /* Jarak dari konten utama */
}

.search-box input {
  flex: 1;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
}

.search-box button {
  padding: 1rem 3rem;
  background: linear-gradient(45deg, #103027b0, #66cb9f);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: transform 0.3s ease, background 0.3s ease;
}

.search-box button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #2dc5bb, #86dbc2);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
