.latihan-soal1-container {
    font-family: 'Poppins', sans-serif;
    background: url('/public/hijau.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
  }
  
  .latihan-soal1-question-box {
    background: #ebe6e6;
    margin: 80px;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    overflow-y: hidden;
  }
  
  .latihan-soal1-title {
    font-size: 3rem;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .latihan-soal1-question {
    margin: 20px 0;
    text-align: center;
  }
  
  .latihan-soal1-question p {
    font-size: 18px;
    color: #7f8c8d;
  }
  
  .latihan-soal1-answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
  }
  
  .latihan-soal1-answer-button {
    padding: 12px;
    background: linear-gradient(90deg, #1d976c, #93f9b9);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .latihan-soal1-answer-button:hover {
    background: linear-gradient(90deg, #1d976c, #1ed760);
    transform: translateY(-2px);
  }
  
  .latihan-soal1-answer-button:disabled {
    background: #8f9595;
    cursor: not-allowed;
  }
  
  .latihan-soal1-selected-answer {
    background: linear-gradient(90deg, #3498db, #6dd5ed);
  }
  
  .latihan-soal1-navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 480px) {
    .latihan-soal1-question-box {
      margin: 20px;
      padding: 10px;
      max-width: 100%;
    }
  
    .latihan-soal1-title {
      font-size: 2rem;
    }
  
    .latihan-soal1-question p {
      font-size: 14px;
    }
  
    .latihan-soal1-answer-button {
      padding: 8px;
      font-size: 0.8rem;
    }
  
    .latihan-soal1-navigation-buttons {
      flex-direction: column;
      gap: 10px; /* Berikan jarak antar tombol */
      align-items: center;
    }
  }
  .latihan-soal1-finish-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  
  

 
 