
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  position: relative;
  padding-top: 50px;
  background: linear-gradient(90deg, #8adcb6, #8cd57f ,#31df8d); 
}

.register-box {
  background: url('/public/form.jpg') no-repeat center center/cover; /* Gambar sebagai latar belakang di dalam register box */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%; 
  text-align: center;
  background-color: white; 
  margin-top: 10px;
  padding:1.5rem 2.5rem; ;
}

h1 {
  margin-bottom: 1rem;
  background-color: #ddd;
}

.subtitle-container {
  text-align: center; 
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 20px;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #ded4d4;
}

button {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(45deg, #103027b0, #66cb9f);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #2dc5bb, #86dbc2);
}

.register-link-container {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.register-link {
  color: #2a6227;
  font-weight: bold;
}

.register-link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
  color: #2a6227;
}

