
.navbar {
  font-family: 'monoscape';
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  background: linear-gradient(to right, #3498db, #8e44ad);
=======
  background: linear-gradient(to right, #3498db,#8e44ad);
>>>>>>> ec883773a05fe778fb249d79a1540727bd3f0e1f
  padding: 10px 20px;
  
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 5px 10px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar a:hover {
  text-decoration: underline;
  background-color: #444; 
  color: #ff4d4d; 
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.navbar .navbar-menu button:hover {
  background-color: #cc0000;
}
